@import "bootstrap-sprockets"; 
@import "bootstrap";

/* universal */
html {
overflow-y: scroll;     /*滚动条*/
}

body {
padding-top: 60px;    /*把页面的上内边距设为60像素*/
}

section {
      overflow: auto;
      }

textarea {
resize: vertical;     /*用户可以调整元素的高度*/
}

.center {               /*任何类为.center的标签(例如div),其中包含的内容都会在页面中居中显示*/
text-align: center;
}

.center h1 { margin-bottom: 10px;      /*设置对象下方外边距属性*/
}


/* typography */  /*自定义一些文字排版*/    

h1, h2, h3, h4, h5, h6 { line-height: 1;
}

h1 {
font-size: 3em; letter-spacing: -2px; margin-bottom: 30px; text-align: center;
}

h2 {
font-size: 1.2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: #777;
}

p{
font-size: 1.1em; line-height: 1.7em;
}

/* header */

#logo {
float: left;
margin-right: 10px; font-size: 1.7em;
color: #fff; text-transform: uppercase; letter-spacing: -1px; padding-top: 9px; font-weight: bold;
}

#logo:hover {
color: #fff;    /*把logo文字的颜色变成白色	*/
      text-decoration: none;
    }


/* footer */     /*网站底部的css*/
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea; color: #777;
}
footer a { color: #555;
}
footer a:hover { color: #222;
}
footer small { float: left;
}
footer ul {
float: right; list-style: none;
}
footer ul li { 
float: left; margin-left: 15px;
}